@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background:  #232d3f;
}
.font{
    font-family: 'DM Sans', sans-serif;
}
.super-text{
    background: var(--Gradient-Heading, linear-gradient(90deg, #FF6B6B 0%, #FFE66D 50%, #6BFFB8 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

    
    
    
}

.tech-dev{
    background: linear-gradient(135deg, #aad4ff, #baf7a9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-resume {


    background: #2563EB;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
   }
   
   .btn-resume:hover {
    color: white;
   }
   
   .btn-resume:after {
    content: "";
    background: #232D3F;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
   .btn-resume:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }

   .my-element {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: shakeX; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }

  .fronted {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: zoomInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }

  .banner-text {

    margin: 0 0.5rem;
  
    animation: slideInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
  }

  .banner-img {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: flash; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
  }